<h1></h1>

<div class="bg-light p-5 rounded-lg m-3 text-center text-white" id="jumbotron">
  <h1 class="display-4">The Finance Tracker Application</h1>
  <p class="lead">Welcome to the finance tracker app, You can track your stocks here.</p>
  <hr class="my-4">
  <p>It uses IEX API for more accuracy and ease of use.</p>
</div>
