@import 'bootstrap/dist/css/bootstrap';
// .navbar-brand {
//   font-size: 3rem;
// }

.search-area{
  padding-top: 50px;
  margin-bottom: 1rem;
}
.no-right-padding{
  padding-right: 0 !important;
}

.no-left-padding{
  padding-left: 0 !important;
}

.results-block{
  display: inline-block;
  margin-bottom: 1rem;
}
.logout-button{
  margin-right: 5px;
}
.user-name{
  margin-top: 3.5%;
  padding-right: 5px;
}

#sticky-footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}

#jumbotron{
  background-image: asset-url('home-pic.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425 px;
}
